{% extends 'main/index.html.twig' %}
{% block headers %}
    <h1><a href="{{ path('main') }}">Главная</a></h1>
    <h3>Статьи</h3>
    <form action="{{ path('main') }}" method="GET">
        <input type="text" name="q">
        <input type="submit" value="Поиск">
    </form>
    {% if query %}
        <h2>Поиск по запросу "{{ query }}"</h2>
    {% endif %}
{% endblock %}
{% block side_menu %}

{% endblock %}

{% block pagination %}

    <div class="paginator">
        {% if articles.haveToPaginate %}
            <div class="navigation text-center">
                {{ pagenatorView|raw }}
            </div>
        {% endif %}
    </div>
{% endblock %}