{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
<style>
    .acticles-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .paginator a {margin: 0 5px}
    .paginator span {margin: 0 5px}
    .acticles-wrapper li {margin: 20px 0 20px 50px}
    .acticles-wrapper p {margin: 0; font-size: 14px}
</style>
<div class="container" style="padding: 50px">
    <div class="acticles-wrapper" style="float:left">
        {% block headers %} {% endblock %}
        {% if query is not defined %}
            {% set query = '' %}
        {% endif %}
        <ul class="article-list">
            {% for article in articles %}
                {% if groupDateHelper is defined and groupDateHelper.newGroup(article.getDateTime) %}
                    <p>{{ groupDateHelper.getDateTime() }}</p>
                {% endif %}
                <li class="article">
                    <p>
                        {{  article.displayText(query)|raw }}
                        <span>{{ article.getDateTime.format('H:i') }}</span>
                    </p>

                    <span>
                    {% for tag in article.getTags %}
                        <a href="{{ path('by_tag', {tag: tag.getId()}) }}">{{ tag.getName() }}</a>
                    {% endfor %}
                </span>
                </li>
            {% endfor %}
        </ul>
        {% block pagination %} {% endblock %}
    </div>
    <div class="side_menu" style="float: right;">
        {% if tags is defined %}
        <div class="most-popular-tags">
            <p>Самые популярные за 5 дней</p>
            <ul>
                {% for tag in tags %}
                    <li><a href="{{ path('by_tag', {tag: tag.id}) }}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
