<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="auth-info" style="">
            {% if app.user %}
            <span>{{ app.user.username }}</span>
            <a href="{{ path('fos_user_security_logout') }}"> Выйти </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}"> Войти </a>
                <a href="{{ path('fos_user_security_register') }}"> Зарегистрироваться </a>
            {% endif %}
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
